:root{
    --clr--primary-100: hsl(0, 0%, 100%);
    --clr--dark-100: hsl(0, 0%, 0%);

    --clr--dark-200: hsl(0, 2%, 8%);

    --clr--neutral-100: hsl(0, 2%, 75%);
    --clr--primary-200: #f6f2f2;

    --clr--secondary-100: #ff0000;


    --ff-accent: Roboto, sans-serif;
}


*,
*::before,
*::after {
   box-sizing: border-box;
}

*{
    margin: 0;
}


body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

h1, h2, h3{
    line-height: 1;
}


body{
    font-size: 14px;
    padding: 5px;
    font-family: var(--ff-accent);
    /* transition: all .3s ease; */
}

.darkTheme{
    background-color: var(--clr--dark-200);
    color: var(--clr--primary-200);
    transition: all .3s ease;
}







/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkTheme nav img{
    filter: invert(100%) sepia(3%) saturate(1157%) hue-rotate(199deg) brightness(119%) contrast(90%);
}

.nav_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
}

.nav_left .logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

 .nav_left .logo img{
    filter: invert(16%) sepia(94%) saturate(5162%) hue-rotate(356deg) brightness(99%) contrast(117%);
}

.nav_middle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav_middle .searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 10px;
    padding: 0 1rem;
    border-radius: 30px;
    width: 25rem;
}

.darkTheme .nav_middle .searchBar{
    border: 1px solid var(--clr--primary-200);
}

.nav_middle .searchBar input{
    padding: 0 5rem 0 0;
    border: none;
    width: 100%;
    background: transparent;
    /* border-right: 1px solid black; */
}

.darkTheme .nav_middle .searchBar input{
    color: var(--clr--neutral-100)
}


.nav_middle input:focus{
    /* border: none; */
    outline: none;
}

.nav_middle .voiceRecorder{
    border: 1px solid black;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.nav_middle .voiceRecorder img{
    width: 25px;
}


.nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;  
}

.nav_right div{
    margin-right: 15px;
}

.nav_right .avatar{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



@media (max-width: 750px){

    .nav_middle{
        display: none;
    }

    

    .nav_left{
        gap: 5px;
    }

    .nav_right{
    }

    .nav_right div{
        margin-right: 5px;
    }
}








/* utilities */
main{
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    margin-top: 30px;
}



/* side-nav */
.side-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 15%;
    transition: all .05s ease;
    /* position: fixed; */
}



.side-nav .side-nav-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.side-nav .side-nav-content:nth-child(1){
    margin-top: -10px;
}

.side-nav .tabs{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    padding: .5rem 1rem .5rem 0;
    cursor: pointer;
}

.darkTheme .side-nav .tabs img{
    filter: invert(100%) sepia(3%) saturate(1157%) hue-rotate(199deg) brightness(119%) contrast(90%);
}

.side-nav .tabs:hover{
    background-color: var(--clr--neutral-100);
    border-radius: 5px;
    transition: all .3s ease;
}

.darkTheme .side-nav .tabs:hover{
    background-color: var(--clr--dark-100);
}


.side-nav .subscription img{
    border-radius: 50%;
    height: 30px;
}

.side-nav h2{
    margin-bottom: 10px;
}

.side-nav-hide{
    width: 5%;
    transition: all .5s ease;
}

.side-nav-hide .side-nav-content hr{
    width: 50%;
}

.side-nav-hide h2{
    display: none;
}

.side-nav-hide .tabs {
    padding: .5rem 0;
}

.side-nav-hide .tabs p{
    display: none;
}

.side-nav-hide .subscription img{
    height: 30px;
}


/* video container */
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

.container a{
    text-decoration: none;
    color: var(--clr--dark-100);
}

.darkTheme .container a{
    color: var(--clr--primary-100);
}

.video-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 10px;
}

.video-container:hover{
    box-shadow: 3px 3px 10px var(--clr--neutral-100);
    transition: all .3s ease;
}

.video-container a{
    text-decoration: none;
}

.video-container .thumbnail {
    border-radius: 10px;
    height: 180px;
}

.video-container .video-context{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.darkTheme .video-container .video-context .video-description p{
    color: var(--clr--neutral-100);
}

.video-container .video-context .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


@media (max-width: 800px){

    .side-nav{
/*         display: none; */
    }

    .container{
        width: 100%;
    }
}
























/* play-video section */
.video_section{
   display: flex;
   justify-content: center;
   gap: 20px;
   /* margin-top: 20px; */
   padding: 20px 10px;
   /* width: 100%; */
}

.play-video{
    width: 60%;
}

.play-video video {
    margin-bottom: 20px;
}

.play-video .video_analytics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.play-video .video_analytics .video_analytics_options{
    display: flex;
    gap: 15px;
    
}

.play-video .video_analytics .video_analytics_options img{
    cursor: pointer;
}

.darkTheme .play-video .video_analytics .video_analytics_options img{
    filter: invert(100%) sepia(3%) saturate(1157%) hue-rotate(199deg) brightness(119%) contrast(90%);
}

.play-video .video_analytics .video_analytics_options .options{
    display: flex;
    gap: 5px;
    align-items: center;
}




.play-video .channel_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-video .channel_description .video-context{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.channel_description .video-context .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.play-video .channel_description .subscribe{
    display: flex;
    gap: 10px;
}

.play-video .channel_description .subscribe img{
    cursor: pointer;
}

.darkTheme .play-video .channel_description .subscribe img{
    filter: invert(100%) sepia(3%) saturate(1157%) hue-rotate(199deg) brightness(119%) contrast(90%);
}

.play-video .channel_description .subscribe button{
    border: none;
    background-color: var(--clr--secondary-100);
    color: var(--clr--primary-100);
    border-radius: 30px;
    padding: 0px 18px;
    cursor: pointer;
}

.play-video .channel_description .subscribe button:hover{
    opacity: .9;
    transition: all .3s ease;

}


/* comments */

.play-video .comments{
    margin-top: 50px;
}

.play-video .comments h3{
    font-size: 1.5rem;
    margin-bottom: 5px;
}


.play-video .commentSection{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.play-video .commentSection .comment{
    display: flex;
    gap: 10px;
}

.play-video .commentSection .comment .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.play-video .commentSection .comment .commentDescription span{
    margin-left: 7px;
    color: var(--clr--neutral-100);
}

.play-video .commentSection .comment .commentDescription .comment_analytics{
    display: flex;
    gap: 5px;
}


.play-video .commentSection .comment .commentDescription .comment_analytics .options{
    display: flex;
    align-items: center;
    gap: 5px;
}

.darkTheme .play-video .commentSection .comment .commentDescription .comment_analytics .options img{
    filter: invert(100%) sepia(3%) saturate(1157%) hue-rotate(199deg) brightness(119%) contrast(90%);
}























.right-video{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right-video-container{
    display: flex;
    border-radius: 10px;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.right-video-container:hover{
    /* box-shadow: 3px 3px 10px var(--clr--neutral-100); */
    transition: all .3s ease;
    cursor: pointer;
}

.right-video-container .thumbnail {
    border-radius: 10px;
    height: 150px;
    width: 270px;
}

.right-video-container .video-context{
    gap: 5px;
    font-size: .75rem;
}

.right-video-container .video-context .avatar{
    display: none;
}










@media (max-width: 1300px){
    .right-video-container .thumbnail{
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 950px){
    .video_section{
        flex-direction: column;
    }

    .play-video{
        width: 100%;
    }

    .right-video{
        width: 100%;
    }

    .right-video-container .thumbnail{
        width: 200px;
        height: 100px;
    }
}


@media (max-width: 400px){

    .play-video .video_analytics{
        flex-direction: column;
        /* justify-content: left; */
        align-items: flex-start;
    }


    .play-video .channel_description{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }



    .right-video-container{
        flex-direction: column;
    }

    .right-video-container .thumbnail{
        width: 100%;
        height: 150px;
    }


}















